<div id="footer">
  <footer class="text-center text-white" style="background-color: #f1f1f1;">

    <p>@Html.ActionLink("All Treats and Flavors", "Index", "Home") | @Html.ActionLink("My Treats", "Index", "Treats") |
      @Html.ActionLink("Account / Login", "Index", "Account") </p>

  </footer>
</div>