@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h4>Add a new treat</h4>
@using (Html.BeginForm())
{
  @Html.Label("Treat Name")
  @Html.TextBoxFor(model => model.TreatName)

  <input type="submit" value="Add new treat!" class="btn btn-outline-dark" />
}