@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Flavors</h2>
<hr />
<h3>@Html.DisplayFor(model => model.FlavorName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor is not associated with any treats</p>
}
else
{
  <h4>Treats the flavor is associated with:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Treat.TreatName</li>
  }
  </ul>
}


<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId }) | @Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>